{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'details.css' %}">

{% block main_content %}

<h2>{{ activity.name }}</h2>

<p>{{ activity.description }}</p>

<p>Precio: {{ activity.price }} €</p>

<p>Fecha de inicio: {{ activity.init_date }}</p>

<p>Fecha de fin: {{ activity.end_date }}</p>



<p>Ubicación: <a href="{{ activity.loc }}">{{ activity.loc }}</a></p>

<h3>Paquetes que incluyen esta actividad:</h3>
{% if activity.package_set.all %}
    <ul>
        {% for package in activity.package_set.all %}
            <li>{{ package.name }} </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Ningún paquete incluye esta actividad.</p>
{% endif %}


{% endblock %}