body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: beige;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-bottom: 10px;
}

header .logo {
    max-width: 150px;
}

header .logo img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    flex: 1;
    padding: 1em;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: center;
}

.activity-list a {
    width: 200px;
    height: 200px;
    max-width: 250px;
    margin: 20px;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.button-container a {
    width: 200px;
    height: 200px;
    max-width: 250px;
    margin: 20px;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: beige;
    border-radius: 18px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.button-container a:hover {
    width: 220px;
    height: 220px;
    max-width: 270px;
    background-color: rgb(252, 252, 211);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container a i {
    color: black;
    margin: 10px;
    font-size: 96px;
}

h3 {
    color: black;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
}


footer {
    width: 100%;
    height: fit-content;
    background-color: #f0f0f0;
    text-align: right;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

footer {
    text-align: left;
}

footer p {
    margin-right: 20px;
}

form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

form p {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea,
select,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.botones button,
button[type="submit"],
.btn-cancelar {
    width: auto;
    padding: 8px 15px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #0056b3;
}

button[type="submit"]:hover {
    background-color: #003d82;
}

.btn-cancelar {
    background-color: #d9534f;
    text-decoration: none;
    color: #fff;
    /* Añade color de texto para que sea legible */
    display: inline-block;
    /* Hacer que el botón ocupe solo el ancho necesario */
    padding: 10px 20px;
    /* Ajusta el relleno según tus preferencias */
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* Hacer que el ancho incluya el borde y el relleno */
    cursor: pointer;
}

.btn-cancelar:hover {
    background-color: #c9302c;
}

.botones {
    display: flex;
    justify-content: space-between;
}

section {
    margin: 1em;
    padding: 1em;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #003d82;
}


/*---*/

input[type="date"] {
    cursor: pointer;
}

ul {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

li {
    margin-bottom: 5px;
}

.activity-list {
    list-style-type: none;
    padding: 0;
}

.action-button,
.back-to-home {
    text-align: center;
    margin-top: 20px;
}

.action-button a,
.back-to-home a {
    padding: 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.trip-plan-container {
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.trip-plan-container:hover {
    transform: scale(1.03);
}

h2 {
    color: #007bff;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
}

h2 a {
    text-decoration: none;
    color: #007bff;
}

h2 a:hover {
    color: #0056b3;
    text-decoration: underline;
}

p {
    font-size: 1em;
    color: #555;
}

.no-trip-plans {
    text-align: center;
    color: #888;
    font-style: italic;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.dropdown-check-list {
    display: inline-block;
    width: 100%;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    user-select: none;
}

.dropdown-check-list .anchor:after {
    content: '';
    position: absolute;
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    transform: rotate(135deg);
}

.dropdown-check-list .anchor.opened:after {
    transform: rotate(225deg);
}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-check-list ul.items li {
    display: flex;
    justify-content: space-between;
}

.dropdown-check-list ul.items li .checkbox-container {
    min-width: 20px;
    text-align: right;
}

.dropdown-check-list ul.items li label {
    flex-grow: 1;
}

.dropdown-check-list.visible ul.items {
    display: block;
}

#nombre {
    color: black;
    font-size: 20px;
}

#nombre i {
    margin-left: 10px;
    color: green;
}

.div-btn-crear-actividad {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;

}

.btn-crear-actividad {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    /* Puedes ajustar el valor según sea necesario */
    margin-bottom: 10px;
    /* Puedes ajustar el valor según sea necesario */
    text-decoration: none;

}


.btn-crear-actividad:hover {
    background-color: #003d82;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    /* Puedes ajustar el valor según sea necesario */
    margin-bottom: 10px;
    /* Puedes ajustar el valor según sea necesario */
}


.list-container {
    margin: 1em;
    border-color: beige;
    border-style: solid;
    border-radius: 8px;
    background-color: beige;

}

.list-container p {
    color: black;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
}