{% extends 'base.html' %}

{% load static %}

{% block main_content %}

<h2>Planes de viaje</h2>

<div>
    {% for trip_plan in trip_plans %}
    <div class="list-container">
        <h3> {{ trip_plan.name }} </h3>
        <h3> {{ trip_plan.description }} </h3>
        <h3> {{ trip_plan.package }} </h3>
        <a href="{% url 'index' %}"><i class="fa-solid fa-eye"></i></a>
        <a href="{% url 'index' %}"><i class="fa-solid fa-pencil"></i></a>
        <a><i class="fa-solid fa-trash-can"></i></a>
        <a><i class="fa-solid fa-euro-sign"></i></a>
        <a><i class="fa-solid fa-credit-card"></i></a>
        <a><i class="fa-solid fa-file"></i></a>
    </div>

    {% empty %}
    <h4>No hay planes de viaje disponibles.</h4>
    {% endfor %}
</div>

{% endblock %}